version: '3.2'
services:
  FptBookCatalon:
    networks:
      - FptBook
    environment:
      base_URL: "http://FptBookStore.slimair.cool"
    image: katalonstudio/katalon
    command: katalonc.sh -projectPath=/tmp/project/ -browserType="Firefox" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/FptBook_TestSuite" -apiKey=ba490008-3999-4890-848b-b43048e5ca92 --config -webui.autoUpdateDrivers=true
    volumes: 
    - .:/tmp/project
networks:
  FptBook:
  